#header-wrap {
    position: relative;
}

#top-logo {
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: 37px;
    left: 106px;
}

.header-menu-wrap {
    position: absolute;
    top: 37px;
    left: 266px;
}

.head-menu-list {
    display: inline-block;
    padding: 12px 0 10px 0;
    margin-right: -4px;
}

.head-menu-list:not(:last-child) {
    background: url('../img/header/divider.png') right 0 no-repeat;
}

.right-side-left {
    position: absolute;
    top: 0;
    right: 19px;
}

.left-mark-bg {
    background: url('../img/header/right-side-list-style.png') left center no-repeat;
    padding-left: 12px;
}

.right-head-menu-list {
    display: inline-block;
}

.right-head-menu-list a {
    line-height: 39px;
    padding: 9px 0 12px 0;
}

.right-head-menu-list:nth-child(1) {
    padding-right: 13px;
}

.right-head-menu-list:nth-child(2) {
    padding-right: 11px;
}

.hmp-1 {
    padding: 12px 31px 6px 25px;
}

.hmp-2 {
    padding: 12px 29px 12px 38px;
}

.hmp-3 {
    padding: 12px 31px 12px 37px;
}

.hmp-4 {
    padding: 12px 30px 12px 32px;
}

.menu-height {
    height: 42px;
}

.under-bar-list {
    display: inline-block;
}

.under-bar-list a {
    line-height: 30px;
    padding: 6px 0;
}

.under-bar-menu-left {
    position: absolute;
    top: 39px;
    left: 26px;
    min-width: 783px;
    text-align: center;
    z-index: -1;
}

.under-bar-list {
    margin-right: -4px;
    padding-right: 15px;
}

.sidebar-menu {
    display: inline-block;
    width: 156px;
    position: absolute;
    top: 154px;
    left: 100px;
    text-align: center;
}

h2 {
    padding: 2px 0;
    margin: 0 auto;
    margin-bottom: -4px;
    background: url('../img/sidemenu/aside-top-bg.png') 0 0 no-repeat;
    background-size: auto;
}
