* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1200px;
}

#top-logo a {
    display: inline-block;
    padding-top: 59px;
    width: 122px;
    height: 59px;
    background: url('../img/logo/logo.png') 0 0 no-repeat;
    background-size: 122px auto;
    overflow: hidden;
}

.head-menu-left {
    background: url('../img/header/header-menu-left.png') left center no-repeat;
    padding-left: 20px;
    min-width: 829px;
}

.head-menu-right {
    background: url('../img/header/header-menu-right.png') right center no-repeat;
    padding-right: 20px;
}

.head-menu-middle {
    background: url('../img/header/header-menu-middle.png') 0 center repeat-x;
}

.right-side-left {
    padding-left: 46px;
    background: url('../img/header/left-nav-bar-right-side.png') left 0 no-repeat;
}

.head-menu-right-side {
    background: url('../img/header/mid-nav-bar-right-side.png') 0 0 repeat-x;
    padding: 0 18px 0 12px;

}

.under-bar-menu-left {
    padding-left: 13px;
    background: url('../img/header/underbar-left.png') left center no-repeat;
}

.under-bar-menu-right {
    padding-right: 13px;
    background: url('../img/header/underbar-right.png') right center no-repeat;
}

.under-bar-menu-middle {
    background: url('../img/header/underbar-mid.png') center center repeat-x;
    padding-left: 20px;
}

.side-inner-top-bg {
    padding-top: 9px;
    background: url('../img/sidemenu/aside-inner-top-bg.png') center top no-repeat;

}

.side-inner-middle-bg {
    background: url('../img/sidemenu/aside-inner-middle-bg.png') center center repeat-y;

}

.side-inner-bottom-bg {
    padding-bottom: 7px;
    background: url('../img/sidemenu/aside-inner-bottom-bg.png') center bottom no-repeat;
}

.left-align-menu {
    padding: 0 12px;
    font-size: 12px;
    list-style: none;
    text-align: left;
}

.left-align-menu>li:not(:last-child) {
    border-bottom: 1px dotted #6a6a6a;
}

.left-nav-inner-ul {
    list-style: none;
}

.left-nav-inner-a {
    display: inline-block;
    width: 100%;
    color: #303030;
    text-decoration: none;
    padding: 4.5px 0;
}

.left-nav-inner-a:hover {
    background: #ffffff;
}

.left-nav-inner-a>span {
    font-weight: bold;
    color: #408d00;
}

.dif-padding-a {
    padding: 0 0 8px 11px;
}

.dif-hover-a {
    padding: 9px 0 6px 10px;
}

.dif-hover-a:hover {
    background-color: #f0f0f0;
}

