* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 1200px;
}

#top-logo a {
    display: inline-block;
    padding-top: 59px;
    width: 122px;
    height: 59px;
    background: url('../img/logo/logo.png') 0 0 no-repeat;
    background-size: 122px auto;
    overflow: hidden;
}

.head-menu-left {
    background: url('../img/header/header-menu-left.png') left center no-repeat;
    padding-left: 20px;
    min-width: 829px;
}

.head-menu-right {
    background: url('../img/header/header-menu-right.png') right center no-repeat;
    padding-right: 20px;
}

.head-menu-middle {
    background: url('../img/header/header-menu-middle.png') 0 center repeat-x;
}